@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject IStringLocalizer<SessionStringLocalizer> Localizer
@inject AppDBContext _context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>@ViewData["Title"] - Singo</title>
    <link rel="apple-touch-icon" href="/img/LogoOnly.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/weather-icons/climacons.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/meteocons/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/components.css">
    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/lib//fontawesome-free-5.11.2/css/all.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome-free-5.11.2/css/brands.css" rel="stylesheet" />
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/dashboard-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/toastr.css">
    <!-- END: Page CSS-->

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <div class="SpinnerContainer" style="display:none;">
        <div id="bars6">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    @{
        UserHelperFunctions userHelper = new UserHelperFunctions()
            {
                _context = _context,
                _user = User as ClaimsPrincipal
            };
        userHelper.Populate();

        var principal = User as ClaimsPrincipal;
        var check = User.Identity.IsAuthenticated;
        var displayName = "";
        var emailAddress = "";
        var UserID = "";

        if (check)
        {
            displayName = principal.Claims.Where(x => x.Type == ClaimTypes.Name).First().Value;
            UserID = principal.Claims.Where(x => x.Type == "http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/UserID").First().Value;

            if (principal.Claims.Any(x => x.Type == ClaimTypes.Email))
            {
                emailAddress = principal.Claims.Where(x => x.Type == ClaimTypes.Email).First().Value;
            }
        }
    }
    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="~/Home/Index">
                            <img class="brand-logo" alt="modern admin logo" src="~/img/networklogo.jpeg" />
                            <h3 class="brand-text">SINGO</h3>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon font-medium-3 black ft-toggle-right" data-ticon="ft-toggle-right"></i></a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-notification nav-item" id="userNotificationDDL">
                            @await Component.InvokeAsync("Notifications")
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            @if (check)
                            {
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                    <span class="mr-1 user-name text-bold-700">@displayName</span>
                                    <span class="avatar"> <img src="/Account/LoadUserProfileImage/@userHelper.user.ProfileImageName" alt="Profile Picture"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/Account/Profile"><i class="fa fa-cog"></i> @Localizer[PublicEnums.LocalizationKeys.Edit_Profile]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Account/Logoff"><i class="ft-power"></i> @Localizer[PublicEnums.LocalizationKeys.Logout]</a>
                                </div>
                            }
                            else
                            {
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700">@Localizer[PublicEnums.LocalizationKeys.Guest]</span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/Account/Login"><i class="fa fa-user"></i> @Localizer[PublicEnums.LocalizationKeys.Log_In]</a>
                                    <a class="dropdown-item" href="/Account/Register"><i class="fa fa-user-plus"></i> @Localizer[PublicEnums.LocalizationKeys.Register]</a>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" navigation-header">
                    <span>@Localizer[PublicEnums.LocalizationKeys.Menu]</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="@Localizer[PublicEnums.LocalizationKeys.Menu]"></i>
                </li>
                <li id="menu-dashboard">
                    <a href="/Home/Index"><i class="fa fa-chart-line"></i><span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Dashboard]</span></a>
                </li>
                <li id="menu-calendar">
                    <a href="~/Establishment/EstablishmentList"><i class="fa fa-building" aria-hidden="true"></i><span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Establishment]</span></a>
                </li>
                <li id="menu-calendar">
                    <a href="~/Vouchers/VouchersList"><i class="fas fa-ticket-alt" aria-hidden="true"></i>
                        <span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Voucher]</span></a>
                </li>
                <li id="menu-calendar">
                    <a href="~/Products/ProductsList"><i class="fab fa-product-hunt" aria-hidden="true"></i>
                        <span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Product]</span></a>
                </li>
                <li class=" nav-item" id="menu-leads">
                    <a href="#"><i class="fas fa-users"></i><span class="menu-leads">@Localizer[PublicEnums.LocalizationKeys.Leads]</span></a>
                    <ul class="menu-content">
                        <li id="menu-leads-allleads">
                            <a href="~/Leads/GetAllLeads"><i class="fa fa-tasks"></i>&nbsp;<span class="menu-title">All @Localizer[PublicEnums.LocalizationKeys.Leads]</span></a>
                        </li>
                        <li id="menu-leads-leads">
                            <a href="~/Leads/GetLeads"><i class="far fa-calendar-check"></i>&nbsp;<span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Scheduled_For_Installation]</span></a>
                        </li>
                        <li id="menu-leads-jobcards">
                            <a href="~/Leads/GetJobCards"><i class="far fa-clipboard"></i>&nbsp;<span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Job_Cards]</span></a>
                        </li>
                        </li><li id="menu-leads-installedjobs">
                            <a href="~/Leads/InstalledJobCards"><i class="fa fa-check-square"></i>&nbsp;<span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Installed_Jobs]</span></a>
                        </li>
                    </ul>
                </li>
                @*<li id="menu-calendar">
                <a href="~/Calendar/Calendar"><i class="fa fa-calendar"></i><span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Calendar]</span></a>
                </li>*@
                @if (HtmlHelperExtensions.UserHasRole(PublicEnums.UserRoleList.ROLE_ADMINISTRATOR, User))
                {
                    <li class=" nav-item" id="menu-admin">

                        <a href="#"><i class="fa fa-wrench"></i><span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Administration]</span></a>
                        <ul class="menu-content">
                            <li id="menu-admin-user-roles">
                                <a class="menu-item" href="/MasterData/AcmAccessRoleList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Access_Roles]</span></a>
                            </li>
                            <li id="menu-admin-users">
                                <a class="menu-item" href="/Users/Index"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Users]</span></a>
                            </li>
                            <li id="menu-admin-approval">
                                <a class="menu-item" href="/Users/ApprovalRequired"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.User_Approval]</span></a>
                            </li>
                            <li id="menu-admin-email">
                                <a class="menu-item" href="/MasterData/EmailTemplateList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Email_Templates]</span></a>
                            </li>
                            <li id="menu-admin-settings">
                                <a class="menu-item" href="/MasterData/SystemConfigList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.System_Settings]</span></a>
                            </li>
                            <li id="menu-admin-faq">
                                <a class="menu-item" href="/MasterData/FAQList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.FAQ]</span></a>
                            </li>
                        </ul>
                    </li>
                }
                @if (HtmlHelperExtensions.UserHasRole(PublicEnums.UserRoleList.ROLE_ADMINISTRATOR, User))
                {
                    <li class=" nav-item" id="menu-md">

                        <a href="#"><i class="fa fa-database"></i><span class="menu-title">@Localizer[PublicEnums.LocalizationKeys.Master_Data]</span></a>
                        <ul class="menu-content">
                            <li id="menu-md-countries">
                                <a class="menu-item" href="/MasterData/CountriesList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Countries]</span></a>
                            </li>
                            <li id="menu-md-provinces">
                                <a class="menu-item" href="/MasterData/ProvincesList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Province]</span></a>
                            </li>
                            <li id="menu-md-genders">
                                <a class="menu-item" href="/MasterData/GendersList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Gender]</span></a>
                            </li>
                            <li id="menu-md-ethnicity">
                                <a class="menu-item" href="/MasterData/EthnicityList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Ethnicity]</span></a>
                            </li>
                            <li id="menu-md-lang">
                                <a class="menu-item" href="/MasterData/LanguageCultureList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Languages]</span></a>
                            </li>
                            <li id="menu-md-loc">
                                <a class="menu-item" href="/MasterData/LocalizationValueList"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Localization_Values]</span></a>
                            </li>
                            <li id="menu-md-contact">
                                <a class="menu-item" href="/MasterData/ContactUs"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Contact_us]</span></a>
                            </li>
                            <li id="menu-md-terms">
                                <a class="menu-item" href="/MasterData/TermsAndConditions"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Terms_and_Conditions]</span></a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->




    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">@Localizer[PublicEnums.LocalizationKeys.Copyright] &copy; @DateTime.Now.Year Singo Network || <a class="menu-item" href="/Home/PublicTermsAndConditions" target="_blank"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.View_Terms_Conditions]</span></a> || <a class="menu-item" href="/Home/PublicContactUS" target="_blank"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.Contact_Us]</span></a> || <a class="menu-item" href="/Home/PublicFAQ" target="_blank"><i></i><span>@Localizer[PublicEnums.LocalizationKeys.FAQ]</span></a></span>
        </p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/vue2/vue.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/lib/jQuery-Autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="/app-assets/vendors/js/extensions/toastr.min.js"></script>

    <!-- BEGIN: Theme JS-->
    <script src="/app-assets/js/core/app-menu.js"></script>
    <script src="/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    @Html.Raw(JavaScriptSnippet.FullScript)
    @RenderSection("Scripts", required: false)

    <ejs-scripts></ejs-scripts>

    @*SignalR*@
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            App.BaseFunctions.SetMenuFocus("@ViewBag.MenuTab", "@ViewBag.MenuSubTab");
        });
    </script>
</body>
</html>
